openshift-deploy
**-secret.yaml

# ztp demo
vars_secret.yaml
**.pp
**.te
*!*.example
appliance-config.yaml
demos/ztp/demo-manifests/02-appliance/appliance_assets/build-image/run/*
demos/ztp/demo-manifests/02-appliance/appliance_assets/build-config-iso/run/*
demos/ztp/demo-manifests/02-appliance/appliance_assets/build-image/output/*
demos/ztp/demo-manifests/02-appliance/appliance_assets/build-config-iso/output/*

scripts/aws_vpn/libreswan_*.*
scripts/aws_vpn/openwrt_*.*
scripts/aws_vpn/generic-vpn-config.txt
