openshift-deploy
**-secret.yaml

# ztp demo
vars_secret.yaml
**.pp
**.te
*!*.example
appliance-config.yaml

tools/ocp-appliance/tmp-files/*
tools/ocp-appliance/output/*

tools/aws_vpn/libreswan_*
tools/aws_vpn/openwrt_*
tools/aws_vpn/generic-vpn-config.txt
