 # Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/raw/
data/processed/

# Docker
*.log
*.pid

