
module my-systemd 1.0;

require {
	type systemd_logind_t;
	type init_t;
	type container_file_t;
	type systemd_coredump_t;
	type user_home_t;
	class cap_userns sys_ptrace;
	class capability sys_admin;
	class lnk_file read;
	class sock_file unlink;
}

#============= init_t ==============

#!!!! This avc is allowed in the current policy
allow init_t container_file_t:sock_file unlink;

#!!!! This avc is allowed in the current policy
allow init_t user_home_t:lnk_file read;

#============= systemd_coredump_t ==============

#!!!! This avc is allowed in the current policy
allow systemd_coredump_t self:capability sys_admin;

#============= systemd_logind_t ==============

#!!!! This avc is allowed in the current policy
allow systemd_logind_t self:cap_userns sys_ptrace;
