kind: Secret
apiVersion: v1
metadata:
  name: demo-install-manual-pull-secret
  namespace: demo-install-manual-1
data:
  '.dockerconfigjson': '<pull_secret in one line base64 > '
type: 'kubernetes.io/dockerconfigjson'