---
apiVersion: v1
kind: Namespace
metadata:
  name: sno-gitops
---
apiVersion: v1
kind: Secret
metadata:
  name: demo-ztp-gitops-bmc-secret-1
  namespace: sno-gitops
data:
  password: Ym9iCg==
  username: Ym9iCg==
type: Opaque