kind: Secret
apiVersion: v1
metadata:
  name: demo-ztp-gitops-pull-secret
  namespace: demo-ztp-gitops-1
data:
  '.dockerconfigjson': '<pull_secret in one line base64 > '
type: 'kubernetes.io/dockerconfigjson'